.select {
  position: relative;
}

.select__wrapper {
  position: relative;
}

.select__custom {
  position: relative;
  width: 330px;
  height: 40px;

  &:hover {
    .custom__trigger {
      border: 1px solid #fff;
    }
  }
}

.custom__trigger {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  backdrop-filter: blur(6px);
  background-color: rgba(31, 112, 127, 0.3);
  border: 1px solid #278d9f;
  border-radius: 0.4rem;
  cursor: pointer;
  padding-left: 1rem;
  transition: 0.3s;
}

.custom__trigger::after {
  content: "▾";
  position: absolute;
  top: -10px;
  line-height: 3.8rem;
  right: 10px;
}

.custom__trigger:hover {
  border-color: #278d9f;
}

.custom__options {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #6f6f6f;
  border-radius: 0.4rem;
  background-color: rgba(31, 112, 127, 0.3);
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.select__custom.isActive .custom__options {
  display: block;
}

.custom__option {
  position: relative;
  background-color: #183e42;
  padding-left: 1rem;
}

.custom__option:hover {
  background-color: #278d9f;
}

.custom__option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.8rem;
  width: calc(100% - 1.6rem);
  border-bottom: 1px solid #d3d3d3;
}
