@mixin font($size, $height, $weight, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}
@mixin flex($content: stretch, $items: normal) {
  display: flex;
  justify-content: $content;
  align-items: $items;
}

@mixin mobile {
  @media (min-width: 320px) and (max-width: 768px) {
    @content;
  }
}

@mixin table {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}