
.categories__main {
  padding-bottom: 20px;

  .categories__list {
    display: flex;
    
    @include mobile {
      height: 80vh;
      margin-bottom: 8px;
    }
    
    .categories__list_inner {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 48px 25px;

      @include mobile {
        overflow: scroll;
        gap: 20px 18px;
        padding: 10px 0;
      }
    }
  }
}

.category__card {
  cursor: pointer;

  .heading__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    color: $color-white;

    @include mobile {
      padding-bottom: 8px;
    }
  }

  .heading__card_active {
    color: $color-active-bt;
  }
  
  .card__img {
    overflow: hidden;
    border-radius: 10%;
    transition: all 0.5s ease-out;

    img {
      @extend %transition;
      width: 195px;
      height: 206px;
      
      @include mobile {
        width: 155px;
        height: 164px;
      }
    }
  }

  &:hover {
    .card__img {
      -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 188, 162, 0.8);
      -moz-box-shadow: 0px 0px 15px 5px rgba(255, 188, 162, 0.8);
      box-shadow: 0px 0px 15px 5px rgba(255, 188, 162, 0.8);
      img {
        transform: scale(1.2);
      }
    }
  }
}

.nav__bottom {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  border: 2px solid $color-white;
  border-radius: 10px 10px 0 0;
  background-color: $color-black;

  @include mobile {
    display: block;
  }

  .nav__bottom__list {
    @include flex(space-around, center);
    list-style: none;
    padding: 14px 0;
    width: 100%;

    .bottom__link {
      cursor: pointer;

      a {
        @include flex(space-around, center);
        flex-direction: column;
        text-decoration: none;
        @extend %transition;

        .nav_icon {
          @extend %transition;
          width: 22px;
          height: 22px;
          display: inline-block;
        }
  
        .home {
          background-image: url("./assets/icons/categories/home.svg");
        }
        .category {
          background-image: url("./assets/icons/categories/category.svg");
        }
        .score {
          background-image: url("./assets/icons/categories/score.svg");
        }
  
        .nav_heading {
          @extend %transition;
          @include font(12px, 18px, bold);
          color: $color-white;
        }
  
        &:hover {
          .nav_heading {
            color: $color-active-bt;
          }
          .nav_icon {
            filter: invert(34%) sepia(32%) saturate(489%) hue-rotate(325deg) brightness(103%) contrast(102%);
          }
        }
      }
    }

    .active__bottom-link {
      a {
        .nav_heading {
          color: $color-active-bt;
        }
        .nav_icon {
          filter: invert(34%) sepia(32%) saturate(489%) hue-rotate(325deg) brightness(103%) contrast(102%);
        }
      }
    }
  }
}
