.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .main__log {
    padding-bottom: 5%;
    
    .logo {
      width: 440px;
      height: 165px;
      display: inline-block;
      background-image: url('./assets/icons/logo-desktop.svg');

      @include table {
        width: 322px;
        height: 120px;
        background-image: url('./assets/icons/logo-tablet.svg');
      }

      @include mobile {
        width: 166px;
        height: 62px;
        background-image: url('./assets/icons/logo-mobile.svg');
      }
    }
  }

  .game__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px 40px;

    @include table {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
  }
}