$color-bg-dark: #030303;
$color-dark-red: #710707;
$color-font-gold: #9d8665;
$color-font-light-gold:#D2B183;
$color-font-white: #ffffff;
$color-font-light-grey: #C4C4C4;

$color-font-black: #000000;
$color-border-link: #666666;
$color-active: #7E6C51;
$color-bottom-line: #740C11;
$color-title-popup: #272727;

$color-bg-card-top: #BCBCBC;
$color-bg-card-bottom: #939393;


$width-content: 1440px;


