.tickets {
  padding-top: 75px;

  @include media-desktop {
    padding-top: 53px;
  }
  @include media-laptop-800 {
    padding-top: 41px;
  }
}
.title__tickets {
  color: $color-font-gold;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 115px;
    width: 100%;
    background-color: $color-dark-red;
    height: 3px;

    @include media-desktop {
      top: 102px;
    }
    @include media-laptop-800 {
      top: 79px;
    }
    @include media-table {
      top: 59px;
    }
  }
}
.tickets__container {
  @include flex(space-between, stretch);
  padding: 101px 0 75px;

  @include media-desktop {
    padding: 75px 0 61px;
    @include flex(flex-start, stretch);
  }
  @include media-laptop-800 {
    padding: 62px 0 40px;
  }

  @include media-table {
    flex-direction: column;
  }
}
.tickets__img {
  flex: 0 1 50%;
  // width: 100%;
  // height: 100%;
  position: relative;

  @include media-desktop {
    flex: 0 1 71%;
  }
  @include media-laptop-800 {
    flex: 0 1 61%;
  }
  @include media-table {
    padding-top: 42%;
  }
  
  .tickets__image {
    width: 100%;
    height: 100%;
    
    @include media-laptop-800 {
      height: auto;
    }

    @include media-desktop {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include media-table {
      height: 100%;
    }
  }
}
.tickets__type {
  flex: 0 1 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  padding-left: 60px;
  padding-top: 2px;

  @include media-desktop {
    display: none;
  }

  &> h4 {
    color: $color-font-black;
    padding-bottom: 25px;
  }
}
.tickets__label__type,
.tickets__label__amount {
  @extend %font-roboto;
  @include font(22px, 26px, 300);
  color: $color-font-black;
}
.tickets__label__type {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @extend %transition;
  &> input {
    opacity: 0;
    display: none;
  }
  &:hover {
    opacity: 0.6;
  }
}
.checkmark {
  position: absolute;
  top: 20%;
  left: 0px;
  height: 17px;
  width: 17px;
  border: 2px solid $color-font-black;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    top: 18%;
    left: 3.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color-font-black;
    display: none;
  }
}
input:checked ~ .checkmark:after {
  display: block;
}
.tickets__amount {
  flex: 0 1 25%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @include media-desktop {
    align-items: flex-start;
    padding-left: 81px;
    flex: 0 1 25%;
  }

  @include media-laptop-800 {
    padding-left: 60px;
  }

  @include media-table {
    padding-left: 0;
    @include flex(center, center)
  }
  &> h4 {
    color: $color-font-black;
    padding-bottom: 27px;

    @include media-desktop {
      padding-bottom: 30px;
    }
    @include media-laptop-800 {
      padding-bottom: 39px;
    }
    @include media-table {
      @include font(16px, 19px, bold);
      padding: 41px 0 18px;
    }
  }

  .tickets__label__amount {

    @include media-table {
      @include font(16px, 19px, 300);
    }
  }

  &>.tickets__label__amount:nth-child(2) {
    padding-bottom: 10px;

    @include media-desktop {
      padding-bottom: 30px;
    }
    @include media-laptop-800 {
      padding-bottom: 26px;
    }
    @include media-table {
      padding-bottom: 20px;
    }
  }
}
.bordered {
  @include flex(space-between, center);
  border: 3px solid $color-font-black;
  margin-top: 15px;

  @include media-desktop {
    margin-top: 9px;
  }
  @include media-table {
    margin-top: 16px;
  }
 
  & button {
    cursor: pointer;
    width: 44.5px;
    height: 44px;
    padding: 0 14px;
  }
}
.amount__window {
  @extend %font-roboto;
  @include font(22px, 26px, 300);
  color: $color-font-black;
  width: 55px;
  height: 44px;
  text-align: center;
  background: transparent;
  @extend %transition;

  @include media-desktop {
    width: 33.33%;
  }

  @include media-table {
    width: 80px;
  }
  &:nth-child(odd) {
    text-align: center;
    display: flex;
    align-items: center;
    &:hover {
      opacity: 0.6;
    }
  }
}

.minus,
.plus {
  width: 18px;
  height: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: $color-font-black;
  cursor: pointer;
}
.minus {
  margin-bottom: 20px
}
.tickets__total {
  @extend %font-roboto;
  @include font(28px, 33px, 700);
  letter-spacing: 1.65px;
  color: $color-font-black;
  padding: 51px 0 60px;

  @include media-desktop {
    padding: 26px 0 68px;
  }
  @include media-laptop-800 {
    padding: 39px 0 40px;
  }
  @include media-table {
    @include font(16px, 19px, bold);
    padding: 39px 0 40px;
    // width: 81px;
  }

  .window_total {
    @extend %font-roboto;
    // @include font(28px, 33px, 700);
    text-align: end;
    background: transparent;
    width: 53px;
    letter-spacing: 1.65px;
    color: $color-font-black;

    @include media-desktop {
      width: 70px;
    }
    @include media-table {
      width: 43px;
    }
  }
}

// Parallax
.parallax {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('./assets/img/parallax.jpg');

  @include media-laptop-800 {
    height: 300px;
    background-position: center;
  }
}