.header {
  background-color: $color-bg-dark;
  padding: 59px 0 58px;

  @include media-desktop {
    padding: 49px 0 48px;
  }
  @include media-big-laptop {
    padding: 35px 0 34px;
  }
  @include media-table {
    padding: 28.5px 0;
  }
}

.heading_one {
  position: absolute;
  left: -999px;
}

.logo__link {
  @include flex(stretch, stretch);
  text-decoration: none;

  @include media-big-laptop {
    height: 41px;
    @include flex(center, center);
  }
  @include media-table {
    height: 20px;
  }

  &:hover {
    .logo__icon {
      opacity: 0.5;
    }
    .logo__name {
      color: $color-font-gold;
    }
  }
  .logo__icon {
    background-image: url("./assets/icons/logo.svg");
    display: inline-block;
    width: 49px;
    height: 26px;
    @extend %transition;

    @include media-table {
      background-image: url("./assets/icons/logo-table.svg");
      width: 29px;
      height: 16px;
    }
  }
  .logo__name {
    @extend %font-forum;
    @include font(28px, 31px, normal);
    letter-spacing: 5px;
    color: $color-font-white;
    text-transform: uppercase;
    margin-left: 25px;
    @extend %transition;
    padding-top: 2px;

    @include media-big-laptop {
      padding-top: 10px;
    }
    @include media-table {
      @include font(16px, 18px, normal);
      padding-top: 0;
    }
  }
}

.nav {
  width: 775px;
  @include flex(flex-end, center);

  .nav__list {
    @include flex(space-between, center);
    list-style: none;
    gap: 0 55px;

    @include media-desktop {
      display: none;
    }

    .nav__link {
      @extend %font-roboto;
      @include font(22px, 26px, 200);
      letter-spacing: 2px;
      color: $color-font-white;
      text-decoration: none;
      @extend %transition;
      &:hover {
        color: $color-font-gold;
      }
      &:active {
        color: $color-active;  
      }
    }
  }
}

