.wrapper {
  max-width: $desktop-width;
  margin: auto;
  @include media-middle {
    padding: 0 20px;
  }
}
.wrapper__header {
  @include flex(space-between, center);
}

.wrapper__explore {
  display: flex;

  @include media-desktop {
    @include flex(center, center);
    flex-direction: column;
    gap: 55px 0;
  }

  @include media-big-laptop {
    gap: 62px 0;
  }
}