.footer {
  padding: 0 2%;
  background-color: #121c1e;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;

    .footer__github {
      color: #fff;
      text-decoration: none;
      padding: 0 20px;
      transition: 0.5s ease-out;
  
      &:hover {
        color: #278d9f;
      }
    }
  
    .footer__rss-link {
      width: 160px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../../../assets/svg/rss.svg");
      transition: 0.5s ease-out;
  
      &:hover {
        filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
      }
    }
  }  
}
