* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: rgb(148, 140, 140);
}

.input {
  outline: none;
  border: none;
}

button {
  text-transform: uppercase;
}

.main {
  position: relative;
}

.invisible {
  opacity: 0;
  z-index: -1;
}

.inactive-btn {
  opacity: 0.4;
}