.main-toys {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background-image: url("../../../../assets/bg/1.jpg");
  background-size: cover;
  background-attachment: fixed;

  &__wrapper {
    background: rgba(22, 41, 41, 0.5);
    backdrop-filter: blur(3px);
    height: 100%;
    min-height: calc(100vh - 140px);
    width: 100%;
    padding: 1% 0;
  }
  
  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    font-size: 20px;
    line-height: 40px;
    margin: auto;
    padding-bottom: 1%;
    gap: 1rem 1rem;
  }
}

@media (max-width: 1205px) {
  
  .main-toys__controls {
    flex-wrap: wrap;
    justify-content: center;
    
    .filters {
      order: 1;
    }
    .range-filters{
      order: 3;
      flex: 0 0 70%;
    }
    .sorts {
      order: 2;
    }
  }
}
