.main__header {
  display: flex;
  justify-content: flex-end;
  padding: 22px 0;
}

.setting__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 0;

  .setting__btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
    @extend %transition;
    color: $color-white;
    font-size: 24px;
    line-height: 28px;

    .arrow_icon {
      width: 11px;
      height: 20px;
      display: inline-block;
      background-image: url("./assets/icons/setting/arrow-set.svg");
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .close__btn {
    @include mobile {
      display: none;
    }
  }
}

.categories__header {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;

  .logo {
    .logo_color {
      width: 166px;
      height: 62px;
      display: inline-block;
      background-image: url("./assets/icons/logo-art.svg");
    }
  }
  .nav {
    width: 262px;
    @include flex(flex-end, center);

    .nav__list {
      @include flex(space-between, center);
      list-style: none;
      gap: 0 40px;

      @include mobile {
        display: none;
      }

      .nav__link {
        cursor: pointer;
        a {
          @include font(18px, 18px, 500);
          color: $color-white;
          text-decoration: none;
          @extend %transition;
        }
        &:hover {
          a {
            color: $color-active-bt;
          }
        }
        
      }
      .active-link {
        a {
          color: $color-active-bt;
        }
      }
    }
  }
}

.art-game__header {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .progress__game {
    width: 80%;
    // background: transparent;
    background: linear-gradient(
      to right,
      $color-active-bt 0%,
      $color-active-bt 10%,
      $color-white 10%,
      $color-white 100%
    );
    height: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      display: none;

      &:hover {
        background-color: $color-active-bt;
      }
    }
  }

  .game__time {
    color: $color-white;
    width: 40px;
    text-align: center;
  }
}
