* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: $color-black;
  font-family: "Gilroy", sans-serif;
  position: relative;
}

h3 {
  color: $color-white;
  @include font(30px, 28px, bold);
  padding-bottom: 20px;
  text-align: start;

  @include mobile {
    text-align: center;
  }
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.volume__icon_off {
  width: 23px;
  background-image: url("./assets/icons/setting/volume-off.svg");
}

.card_inactive {
  filter: saturate(0%);
}

.hidden__body {
  animation: animate-body 2s;
}

@keyframes animate-body {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.show__block {
  animation: show-me 1.5s;
}

@keyframes show-me {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide_popup {
  animation: hide-this 1s;
}

@keyframes hide-this {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}