button {
  background: transparent;
  border: none;
}

.set__btn {
  width: 34px;
  height: 34px;
  display: inline-block;
  background-image: url("./assets/icons/carbon_settings.svg");
  @extend %transition;
  cursor: pointer;

  &:hover {
    transform: rotate(180deg);
  }
  &:active {
    transform: scale(0.8);
  }
}

.btn {
  width: 268px;
  height: 56px;
  border: 2px solid $color-white;
  border-radius: 25px;
  color: $color-white;
  @include font(24px, 28px, 500);
  @extend %transition;
  cursor: pointer;
  @include flex(center, center);

  &:hover {
    background-color: $color-active-bt;
    color: $color-black;
    border-color: $color-active-bt;
  }
  &:active {
    transform: scale(0.8);
  }
}

.close__btn,
.close__btn_game {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url("./assets/icons/setting/close-icon.svg");
  cursor: pointer;
  @extend %transition;
  margin-right: 15px;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    transform: scale(0.8);
  }
}

.btn_time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  color: $color-black;
  background-color: $color-white;
  font-size: 30px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: $color-active-bt;
  }
}
.btn__choose {
  width: 100%;
  height: 62px;
  @include font(22px, 22px, 500);
  border: 2px solid $color-white;
  border-radius: 25px;
  color: $color-white;
  @extend %transition;
  cursor: pointer;
  @include flex(center, center);
  
  @include table {
    @include font(16px, 18px, 500);
    height: 48px;
  }
  @include mobile {
    @include font(16px, 18px, 500);
    height: 48px;
  }
  
  &:hover {
    color: $color-active-bt;
    border-color: $color-active-bt;
  }
}

.btn__next {
  width: 400px;
  height: 62px;
  border-radius: 25px;
  color: $color-black;
  background-color: $color-active-bt;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(22px, 22px, normal);
  cursor: pointer;
  @extend %transition;
  border: 2px solid $color-active-bt;

  @include mobile {
    width: 100%;
  }
  &:hover {
    border: 2px solid $color-black;
    background-color: $color-white;
  }
}

.btn__popup {
  color: $color-black;
  width: 100%;
  height: 62px;
  border-radius: 25px;
  background-color: $color-active-bt;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(22px, 22px, normal);
  cursor: pointer;
  @extend %transition;
  border: 2px solid $color-active-bt;

  &:hover {
    border: 2px solid $color-black;
    background-color: $color-white;
  }
}

.btn_correct {
  background-color: $color-right;
}

.btn_wrong {
  background-color: $color-mis;
}