.form {
  display: flex;
  gap: 0 1rem;
  padding: 1rem 0;
  transition: 0.5s;

  .input-text {
    color: black;
    background-color: rgb(209, 196, 196);
    font: 1rem cursive;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    transition: 0.5s;

    &:focus {
      background-color: white;
      outline: 0;
    }
  }

  .input-color {
    font: 1rem cursive;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 8px 6px rgb(255, 255, 255, 0.4);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .input-submit {
    width: 82px;
    color: black;
    background-color:rgb(0, 206, 209);
    font: 1rem cursive;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0px 0px 8px 6px rgba(0, 206, 209, 0.4);
    }
    
    &:active {
      transform: scale(0.95);
    }
  }
}

.form-inactive {
  opacity: 0.6;

  .input-color {
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }

  .input-submit {
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }
}
